<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta name=“viewport” content=“width=device-width", initial-scale=1">
    <title>Mystery Word</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <!-- <h1>Me too!</h1> -->
    <span class="game_title">Mystery Word</span>
    <span class="counter">Counter will go here</span>
    
  </body>
</html>
