<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta name=“viewport” content=“width=device-width", initial-scale=1">
    <title>Please Login</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1 class="login_title">Mystery Word</h1>
    <form class="login_form" action="" method="post">
      <span class="name-group">
        Enter your name: <input type="text" name="name" value="">
      </span>
      <span><input type="submit" name="" value="Let's Play!"></span>
    </form>
  </body>
</html>
