*{
  box-sizing: border-box;
}

/*game.mustache*/
header {
  display: block;
  text-align: center;
  height: 100px;
}

.game_title {
  display: block;
}

.counter {
  display: block;
}

section {
  display: block;
  height: 100px;
}

.all_letters_div {
  /*border: #000000 1px solid;*/
  height: 50px;
  margin: 20px;
  text-align: center;
}

.errors p {
  list-style-type: none;
  color: red;
}

.choose_letters_div {
  text-align: center;
}

.guessed_letters {
  text-align: center;
}

/*login.mustache*/
.login_title {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 50px;
}

.login_form {
  text-align: center;
}
